<%- include('includes/head-admin.ejs', { title: 'Erreur !' }) %>
</head>
<body>
  <%- include('includes/header-admin.ejs') %>
  <main>
    <h1>Utilisateur Non Authentifié !</h1>
    <p>Vous n'êtes pas authentifié et donc pas autorisé à accéder à cette page !</p>
  </main>
</body>
</html>