<header id="main-header">
  <div id="logo">
    <a href="/">
      <img
        src="/home/images/logo/com4muz-logo-trans_rect-blc-sigle-bleu-clair.png"
        alt="Logo Com4Muz"
      />
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="/a-propos">Qui Sommes-nous ?</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/portefeuille">Portefeuille</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
      <% if (locals.isAdmin) { %>
      <li><a href="/admin">Admin</a></li>
      <% } %>
    </ul>
  </nav>
  <a href="#side-drawer" class="menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </a>
</header>
