<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body style="background-color: black">
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <section id="hero">
        <div id="hero-content">
          <h1>Page non trouvée !</h1>
          <p>Malheureusement, nous n'avons pas pu trouver cette page.</p>
        </div>
      </section>
    </main>
  </body>
</html>
