<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body style="background-color: black">
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <section id="hero">
        <div id="hero-content">
          <h1>Quelque chose s'est mal passé !</h1>
          <p>
            Malheureusement, quelque chose s'est mal passé sur le serveur - nous
            faisons de notre mieux pour y remédier au plus vite !
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
