<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/home/styles/views/portefeuille.css" />
    <title>Portefeuille Agence Marketing Musulmane - Com4Muz</title>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/side-drawer') %>
    <main>
      <section id="hero">
        <div id="hero-content">
          <h1>Portefeuille Com4Muz - Agence Marketing Musulmane</h1>
          <p>
            Notre agence possède un portefeuille riche comprenant de nombreuses
            réalisations. Découvrez quelques-unes de nos oeuvres, ci-dessous !
          </p>
          <a href="mailto:contact@com4muz.com" class="button"
            >Demandez Votre Devis Gratuit Maintenant !</a
          >
        </div>
      </section>
      <section id="advantages">
        <ul>
          <li>
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
              <path
                d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"
              ></path>
            </svg>
            <div class="advantage-content">
              <h4>Site Web</h4>
              <h2>Des Créations Innovantes Et Modernes</h2>
              <p>
                Vous avez besoin de services en création de sites web de
                qualité. Heureusement, vous êtes entre de bonnes mains avec nos
                agents de communication. En effet, nous réalisons d’excellents
                sites internet pour les professionnels et les particuliers.
                C’est pourquoi, votre projet se concrétisera de manière optimale
                à l’aide de nos sublimes créations. De plus, votre business
                obtiendra une meilleure réputation digitale. Alors, faites-nous
                confiance et donnez-nous vos exigences afin que nous nous
                occupions du reste.
              </p>
              <div class="actions">
                <a class="button" href="https://com4muz.fr/services"
                  > &#x2192 Visitez le Site Web !</a
                >
              </div>
            </div>
          </li>
          <li>
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <div class="advantage-content">
              <h4>Logo</h4>
              <h2>Des Designs Spéciaux Et Originaux</h2>
              <p>
                Un design élégant se révèle être crucial en matière de branding
                et de marketing. En vérité, vous avez compris cela. C’est la
                raison pour laquelle vous recherchez un graphiste professionnel
                pour effectuer cette tâche à la perfection. Bien entendu, nous
                avons ce qu’il vous faut dans notre équipe de spécialistes.
                Effectivement, nos graphistes experts élaborent des designs
                modernes pour améliorer l’image de votre business.
              </p>
              <div class="actions">
                <a class="button" href="https://com4muz.fr/services"
                  > &#x2192 Visitez le Site Web !</a
                >
              </div>
            </div>
          </li>
          <li>
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <div class="advantage-content">
              <h4>Référencement Naturel</h4>
              <h2>Des Services SEO Exceptionnels</h2>
              <p>
                Afin d’améliorer votre visibilité sur internet, vous devez
                mettre en place une stratégie de référencement naturel. Par
                exemple, votre site internet doit contenir des articles de blog
                ou des fiches produits personnalisés et de qualité. Ceci dit,
                saviez-vous qu’il existe des professionnels spécialisés dans le
                domaine du SEO ? Certes, notre agence Web expérimentée est
                capable de réaliser les actions nécessaires pour améliorer vos
                positionnements sur les moteurs de recherche. Ainsi, vous serez
                en mesure de booster le chiffre d’affaires de votre entreprise
                en utilisant nos prestations SEO.
              </p>
              <div class="actions">
                <a class="button" href="https://com4muz.fr/services"
                  > &#x2192 Visitez le Site Web !</a
                >
              </div>
            </div>
          </li>
          <li>
            <svg
              class="w-6 h-6"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <div class="advantage-content">
              <h4>Stratégie Marketing</h4>
              <h2>Des Services Web Excellents</h2>
              <p>
                La communication digitale s’avère être un élément décisif dans
                vos affaires. Cependant, cela est plus facile à dire qu’à faire.
                Pourquoi ne confiez-vous donc pas cette mission à une agence de
                communication maîtresse en la matière ? Évidemment, nos agents
                possèdent toutes les compétences nécessaires pour constituer vos
                plans marketing et vos stratégies de communication digitales. En
                somme, vous ne regretterez pas d’avoir recours à nos services
                afin de faire monter en flèche votre business.
              </p>
              <div class="actions">
                <a class="button" href="https://com4muz.fr/services"
                  > &#x2192 Visitez le Site Web !</a
                >
              </div>
            </div>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <ul>
        <li>
          <a href="https://facebook.com/Com4Muz"
            ><img src="/home/images/icons/facebook.png" alt="Facebook Com4Muz"
          /></a>
        </li>
        <li>
          <a href="https://instagram.com/com4muz"
            ><img src="/home/images/icons/insta.png" alt="Instagram Com4Muz"
          /></a>
        </li>
      </ul>
      <p>
        © 2022 <a href="https://com4muz.fr">Com4Muz</a> : Agence Web Musulmane –
        Tous Droits Réservés
      </p>
    </footer>
  </body>
</html>
